header.ant-layout-header {
    flex-wrap: wrap;
    min-height: 64px;
    height: auto;
}

.main-sidebar {

    .ant-layout-sider-children,
    .ant-drawer-body {
        display: flex;
        flex-direction: column;
    }

    &.as-drawer {
        position: absolute;
        right: 100vw;
        transition: right 0.3s ease;
        height: 100vh;
        z-index: 100;

        width: 100vw !important;
        max-width: none !important;

        &.open {
            right: 0;
        }
    }
}

.logo-sidebar {
    color: var(--ant-color-text);
    padding: 10px;
    margin-left: 4px;
    gap: 10px;

    .ant-layout-sider-collapsed & {
        .logo-logotype {
            display: none;
        }

        margin-left: 0;
        justify-content: center;
    }

    .logo-icon {
        background-color: var(--ant-color-text);
    }
}

.ant-layout {
    overflow: hidden;

    > main {
        overflow: auto;
    }

    .ant-layout-header {
        position: sticky;
        top: 0;
    }
}

.ant-layout-sider {
    overflow: hidden;

    .ant-layout-sider-children .ant-menu {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
