// @import "semantic-ui-less/semantic.less";

body {
    background-color: #FFFFFF;
}

.logo {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-color: #FFFFFF;
    -webkit-mask: url("/public/logo.svg") no-repeat center;
    mask: url("/public/logo.svg") no-repeat center;
    mask-position: 50% 50%;
    // mask-size: 90%;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}